body{
  margin:0;
}
a{
  color: black;
  text-decoration: none;
}
h1{
  font-size: 45px;
  text-align: center;
  border-bottom: 2px solid gray;
  margin:0;
  padding:20px;
}
#all{
  display: grid;
  grid-template-columns: 170px 1fr;
}
#content{
  border-left-width: 20px;
  padding-left: 45px;
}
#title{
  border-left-width: 10px;
  border-right:2px solid gray;
  width: 160px;
  margin: 0;
  padding: 20px;
  padding-right: 10px;
  padding-left: 0px;
}
@media(max-width:800px){
  #all{
    display:block;
  }
  #title{
    border-right: none;
  }
  h1{
    border-bottom: none;
  }
}
